#page-mod-customcert-edit .deletebutton {
    text-align:right;
}

#page-mod-customcert-edit #id_replace {
    margin-left: 10px;
}

#page-mod-customcert-report .centre {
    margin-left: auto;
    margin-right: auto;
}
